.categoryviewdetail {
    margin-top: 100px;
    /* width: 100%;
    max-width: 100%; */
    margin-bottom: 50px;
}
.detail_planes_title {
    margin: 0 !important;
    /* width: 90%;
    max-width: 90%; */
}
.no_service {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 185%;
    color: #1e1e1e;
    opacity: 0.8;
}
.img_title {
    margin-left: 80px;
    margin-bottom: 20px;
}
.img_title span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 75px;
    text-transform: capitalize;
    color: #1e1e1e;
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
}
.img_title img {
    width: 139px;
    height: 112px;
    border-radius: 100px;
    object-fit: cover;
}
.barra_detail {
    width: 100%;
    height: 40px;
    background-color: #f2f2f2;
}
.clasificacion {
    margin-left: 250px;
}
.estrellas {
    color: #f6973f;
    font-size: 25px;
}
.horario {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 38px;
    color: #03b8ad;
    opacity: 0.9;
}
.text_detail_plans {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 38px;
    color: #1e1e1e;
    opacity: 0.9;
}

.detail_imagenes {
    margin: auto !important;
    padding: 0 !important;
    width: 95%;
    max-width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fila1 {
    margin: 0 !important;
}
.fila1 .image1 img {
    width: 273.29px;
    height: 523px;
    object-fit: cover;
}
.fila1 .image2 img {
    width: 273.29px;
    height: 523px;
    object-fit: cover;
    margin-top: 50px;
}
.fila1 .image3 img {
    width: 273.29px;
    height: 523px;
    object-fit: cover;
}
.fila1 .image4 img {
    width: 273.29px;
    height: 523px;
    object-fit: cover;
    margin-top: 50px;
}
.ver_fotos {
    font-size: 18px;
    color: #00d6c9;
    text-decoration: underline;
}
.ver_fotos:hover {
    font-size: 18px;
    color: #00d6c9;
    text-decoration: underline;
}
hr {
    height: 1px;
    width: 95%;
    background-color: rgba(0, 0, 0, 0.3);
    margin: auto;
}
.description_detail_plans {
    width: 95%;
    max-width: 95%;
    margin: auto !important;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.descrip_plan_turi {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 185%;
    color: #1e1e1e;
    opacity: 0.8;
}
.texto_detail_turismo {
    width: 50%;
    max-width: 50%;
    text-align: justify;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 185%;
    color: #1e1e1e;
    opacity: 0.8;
}
.valor_detail {
    display: flex;
    justify-content: flex-end;
}
.valor {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    text-transform: capitalize;
    color: #1e1e1e;
}
.value {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    text-transform: capitalize;
    color: #03b8ad;
}
.deatil_description {
    width: 90%;
    max-width: 90%;
    margin: auto;
}
.services {
    margin-top: 50px;
}
.fila {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2rem;
}
.box {
    margin: 0;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 185%;
    color: #1e1e1e;
    opacity: 0.8;
}
.box img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.estrellas_resena {
    color: #f6973f;
    font-size: 35px;
}
.resena {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.175em;
    text-transform: uppercase;
    color: #01c0b5;
}
.resena_card {
    display: flex;
    justify-content: space-evenly;
}
.btn_resena {
    width: 140px;
    height: 48px;
    left: 1126px;
    top: 3764px;
    background: #000000;
    border-radius: 4px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    color: #ffffff;
}
.btn_resena_content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.clasificacion_detail_resena {
    margin-left: 70px !important;
}
.estrellas_detail_resena {
    color: #f6973f;
    font-size: 25px;
}
.avantar {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: #fff;
    background-color: #00d6c9;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}
.title_card {
    display: flex;
    align-items: center;
}
.mapa {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 95%;
}
.mapa iframe {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
@media (max-width: 966px) {
    .no_service {
        font-size: 16px;
    }
    .img_title {
        margin-left: 40px;
        margin-bottom: 0px;
    }
    .img_title span {
        font-size: 35px;
    }
    .img_title img {
        width: 110px;
        height: 80px;
        border-radius: 100%;
        object-fit: cover;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
    }
    .barra_detail {
        height: 30px;
    }
    .clasificacion {
        margin-left: 180px;
    }
    .estrellas {
        color: #f6973f;
        font-size: 20px;
    }
    .horario {
        font-size: 20px;
    }
    .fila1 .image1 img {
        width: 250px;
        height: 400px;
    }
    .fila1 .image2 img {
        width: 250px;
        height: 400px;
    }
    .fila1 .image3 img {
        width: 250px;
        height: 400px;
    }
    .fila1 .image4 img {
        width: 250px;
        height: 400px;
    }
    .ver_fotos {
        font-size: 16px;
    }
    .ver_fotos:hover {
        font-size: 16px;
    }
    .descrip_plan_turi {
        font-size: 20px;
    }
    .texto_detail_turismo {
        font-size: 16px;
    }
    .box {
        font-size: 16px;
    }
    .box img {
        width: 20px;
        height: 20px;
    }

    .estrellas_resena {
        color: #f6973f;
        font-size: 25px;
    }
    .resena {
        font-size: 20px;
    }

    .clasificacion_detail_resena {
        margin-left: 70px !important;
    }
    .estrellas_detail_resena {
        color: #f6973f;
        font-size: 20px;
    }
    .avantar {
        width: 30px;
        height: 30px;
        font-size: 20px;
    }
    .mapa {
        display: flex;
        justify-content: center;
        margin: auto;
        max-width: 95%;
    }
    .mapa iframe {
        margin-top: 15px;
        margin-bottom: 15px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }
}
@media (max-width: 576px) {
    .card{
       margin-bottom: 20px;
    }
    .btn_resena {
        margin-top: 20px !important;
    }
}
@media (max-width: 500px) {
    .categoryviewdetail {
        margin-bottom: 20px;
    }
    .no_service {
        font-size: 16px;
    }
    .img_title {
        margin-left: 10px;
        margin-bottom: 10px;
    }
    .img_title span {
        font-size: 20px;
    }
    .img_title img {
        width: 100px;
        height: 80px;
    }
    .barra_detail {
        height: 30px;
    }
    .clasificacion {
        margin-left: 130px;
    }
    .estrellas {
        font-size: 16px;
    }
    .fila1 .image1 img {
        width: 200px;
        height: 300px;
        object-fit: cover;
    }
    .fila1 .image2 img {
        width: 200px;
        height: 300px;
    }
    .fila1 .image3 img {
        width: 200px;
        height: 300px;
    }
    .fila1 .image4 img {
        width: 200px;
        height: 300px;
    }
    .ver_fotos {
        font-size: 14px;
    }
    .ver_fotos:hover {
        font-size: 14px;
    }

    .descrip_plan_turi {
        font-size: 18px;
    }
    .texto_detail_turismo {
        font-size: 14px;
    }
    .services {
        margin-top: 30px;
    }
    .box {
        font-size: 14px;
    }
    .box img {
        width: 15px;
        height: 15px;
    }

    .estrellas_resena {
        font-size: 20px;
    }
    .resena {
        font-size: 20px;
    }

    .btn_resena {
        width: 110px;
        height: 40px;
        font-size: 10px;
    }

    .estrellas_detail_resena {
        font-size: 18px;
    }
    .avantar {
        width: 25px;
        height: 25px;
        font-size: 18px;
    }
}
@media (min-width: 380px) {
    .estrellas {
        font-size: 14px;
    }
    .horario {
        font-size: 14px;
    }
    .fila1 .image1 img {
        width: 200px;
        height: 150px;
    }
    .fila1 .image2 img {
        width: 200px;
        height: 150px;
    }
    .fila1 .image3 img {
        width: 200px;
        height: 150px;
    }
    .fila1 .image4 img {
        width: 200px;
        height: 150px;
    }

    .descrip_plan_turi {
        font-size: 16px;
    }
    .deatil_description img{
        width: 50px;
        height: 50px;
        object-fit: contain;
    }
    .estrellas_resena {
        font-size: 18px;
    }
    .resena {
        font-size: 18px;
    }

    .btn_resena {
        width: 110px;
        height: 40px;
        font-size: 10px;
    }

    .estrellas_detail_resena {
        font-size: 18px;
    }
    .avantar {
        width: 30px;
        height: 30px;
        font-size: 18px;
    }
    .resena_card {
        display: flex;
        justify-content: space-evenly;
    }
}
