footer {
    background: #f7f7f7;
    height: auto;
    width: 100%;
    margin-top: auto;
}

.row_item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: stretch;
}
.row_principal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: stretch;
    margin: 0 !important;
}
.Servicios {
    color: #03b8ad;
}
.Siguenos {
    color: #03b8ad;
}
.logo_siguenos img {
    width: 20px;
    height: 20px;
}
.link a {
    text-decoration: none;
    color: #1e1e1e;
}

@media (max-width: 992px) {
    .mb-5 {
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }
    .row_principal {
        flex-direction: column-reverse;
    }

    .logo_siguenos img {
        width: 15px;
        height: 15px;
    }
    .col-md-5 {
        max-width: 100% !important;
    }
}

@media (max-width: 321px) {
    .row_item {
        flex-direction: column;
    }
}
